input,
select {
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  &::-webkit-input-placeholder {
    color: #999;
    font-size: inherit;
  }
  &:-moz-placeholder {
    color: #999;
    font-size: inherit;
  }
  &::-moz-placeholder {
    color: #999;
    font-size: inherit;
  }
  &:-ms-input-placeholder {
    color: #999;
    font-size: inherit;
  }
  background-color: transparent;
  font-family: "微软雅黑";
}
input {
  text-indent: 1em;
}
input[type="submit"] {
  text-indent: 0;
  cursor: pointer;
  border: none;
  appearance: none;
}
body,
div,
ul,
li,
i {
  box-sizing: border-box;
}
$browser-default-font-size: 75px !default;
@function pr($px) {
  @return $px / $browser-default-font-size * 1rem;
}
$bg-color: #a296d6;
$padding: pr(30px);
// 垂直居中，两端对齐
.space-between {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
// 垂直居中，居中
.center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.wrap {
  width: pr(750px);
  margin: 0 auto;
  font-size: pr(28px);
  font-family: "Microsoft Yahei";
  p {
    line-height: pr(48px);
  }
}
.header {
  // display: none;
  padding: 0 $padding;
  height: pr(90px);
  @extend .space-between;
  .h1 {
    width: pr(155px);
    height: pr(45px);
    img {
      width: 100%;
      height: 100%;
    }
  }
  .tel {
    padding-left: pr(53px);
    background: url(../images/tel.png) no-repeat left center;
    background-size: pr(40px) pr(40px);
    font-size: pr(18px);
    text-align: center;
  }
  .num {
    font-size: pr(24px);
    font-weight: bold;
  }
  .text {
    letter-spacing: pr(12px);
  }
}
.nav-site{
  display: none;
  height: pr(74px);
}
.nav {
  // display: none;
  @extend .center;
  width: pr(750px);
  height: pr(74px);
  background-color: #f9f9f9;
  &.fixed{
    position: fixed;
    top: 0;
    z-index: 200;
  }
  ul {
    display: flex;
  }
  li {
    padding: 0 pr(20px);
    height: pr(28px);
    line-height: pr(28px);
    border-right: 1px solid #dddddd;
    &:last-child {
      border-right: 0;
    }
  }
}
.banner {
  // display: none;
  a {
    display: block;
    height: pr(418px);
    background-size: 100% 100%;
  }
}
.title {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 $padding;
  height: pr(138px);
  line-height: pr(60px);
  font-size: pr(40px);
  font-weight: bold;
  color: #ffffff;
}
.choice {
  // display: none;
  padding: pr(136px) $padding pr(24px);
  background-color: $bg-color;
  .c-cont {
    position: relative;
    padding: 0 pr(25px) $padding;
    background-color: #ffffff;
    border-radius: pr(24px);
    border: solid 1px #000000;
  }
  .title {
    position: absolute;
    top: pr(-74px);
    left: -1px;
    z-index: 10;
    background: url(../images/bg_1.png) no-repeat;
    background-size: 100% 100%;
  }
  ul {
    padding-top: pr(120px);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    li {
      width: 50%;
      line-height: pr(48px);
      padding-top: pr(90px);
      margin-bottom: pr(50px);
      font-size: pr(30px);
      color: #000000;
      background: url(../images/icon_1.png) no-repeat top center;
      background-size: pr(66px) pr(66px);
      &:nth-of-type(2) {
        background: url(../images/icon_2.png) no-repeat top center;
        background-size: pr(58px) pr(66px);
      }
      &:nth-of-type(3) {
        background: url(../images/icon_3.png) no-repeat top center;
        background-size: pr(68px) pr(66px);
      }
      &:nth-of-type(4) {
        background: url(../images/icon_4.png) no-repeat top center;
        background-size: pr(54px) pr(62px);
      }
    }
  }
  
  p {
    text-align: center;
    span {
      font-weight: bold;
      color: #8070c9;
    }
  }
  .hint {
    padding: pr(80px) 0 pr(10px);
    line-height: pr(48px);
    font-size: pr(24px);
    color: #000000;
    text-align: center;
  }
}

// .video-wrap{
//   position: relative;
//   height: pr(360px);
//   margin-bottom: pr(20px);
//   #poster_img{
//     width: 100%;
//     height: pr(360px);
//     position: absolute;
//     top: 0;
//     z-index: 20;
//     background: url(../images/v.png);
//     background-size:100% 100%;
//   }
// }

.video {
  display: block;
  width: 100%;
  height: pr(360px);
  z-index: 10;
  margin-bottom: pr(20px);
}
.btn {
  height: pr(80px);
  line-height: pr(80px);
  font-size: pr(30px);
  font-weight: bold;
  background-color: #f9d565;
  border-radius: pr(40px);
  border: solid 1px #151515;
  color: #000;
}
.plan {
  // display: none;
  padding: pr(72px) $padding pr(48px);
  background: url(../images/plan_1.png) no-repeat;
  background-size: 100% 100%;
  color: #000000;
  .title {
    padding-left: pr(42px);
    color: #000000;
  }
  p {
    line-height: pr(36px);
    padding: pr(20px) 0;
    font-size: pr(26px);
    text-align: center;
  }
  .sign-in {
    padding: 0 $padding pr(18px);
  }
  input {
    width: 100%;
    height: pr(80px);
    line-height: pr(80px);
    margin-bottom: pr(20px);
    border-radius: pr(10px);
    border: solid 1px #151515;
  }
  input[type="submit"] {
    background-color: #f9d565;
    border-radius: pr(40px);
  }
}
.btn-wrap {
  display: flex;
  justify-content: center;
  padding: pr(48px) 0;
  .btn {
    padding: 0 pr(35px);
  }
}
.plan_2 {
  padding: pr(48px) $padding;
  background: url(../images/plan_2.png) no-repeat #f3c9ca;
  background-size: 100% 100%;
}
.scholar {
  // display: none;
  padding: pr(48px) $padding 0;
  background: $bg-color;
  img {
    padding-top: pr(16px);
    margin-bottom: pr(48px);
  }
}
.plan_3 {
  padding: pr(48px) $padding;
  background: url(../images/plan_3.png) no-repeat #f3c9ca;
  background-size: 100% 100%;
}
.dorm {
  padding: pr(172px) pr(70px) pr(40px);
  height: pr(520px);
  background: url(../images/bg_2.png) $bg-color;
  background-size: 100% auto;
  .swiper-container{
    padding-bottom: pr(60px);
    .swiper-pagination{
      bottom: 0;
    }
    .swiper-pagination-bullet{
      border: solid 1px #000000;
      background-color: #ffffff;
      opacity: 1;
    }
    .swiper-pagination-bullet-active{
      background-color: #f9d565;
    }
  }
  .swiper-slide{
    height: pr(200px);
    // background-color: #f9d565;
    // border: solid 1px #151515;
    img{
      // position: absolute;
      // top: pr(10px);
      // left: pr(10px);
      width: pr(286px);
      height: pr(200px);
    }
  }
}
.plan_4 {
  padding: pr(48px) $padding;
  background: url(../images/plan_4.png) no-repeat #f3c9ca;
  background-size: 100% 100%;
  .sign-in {
    padding: pr(48px) $padding pr(18px);
  }
}
.help {
  height: pr(50px);
  line-height: pr(50px);
  font-size: pr(24px);
  background-color: #151515;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}
.wechat {
  @extend .center;
  padding: pr(23px) 0 pr(38px);
  .hand {
    width: pr(83px);
    height: pr(64px);
    background: url(../images/icon_5.png);
    background-size: 100% 100%;
  }
  .text {
    width: pr(200px);
    line-height: pr(36px);
    margin: 0 pr(13px) 0 pr(6px);
    font-size: pr(30px);
    font-weight: bold;
    color: #151515;
  }
  .img {
    width: pr(100px);
    height: pr(99px);
  }
}
.footer-site{
  height: pr(156px);
}
.footer {
  position: fixed;
  bottom: 0;
  z-index: 200;
  width: pr(750px);
  height: pr(156px);
  background: url(../images/footer.png);
  background-size: 100% 100%;
  a {
    position: absolute;
    width: 50%;
    height: pr(100px);
    line-height: pr(100px);
    font-size: pr(30px);
    font-weight: bold;
    text-align: center;
  }
  .teacher,
  .tel {
    bottom: 0;
  }
  .teacher {
    left: 0;
  }
  .tel {
    right: 0;
  }

  .data {
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: pr(156px);
    height: pr(156px);
    border-radius: 50%;
  }
}
.dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000; // 为了覆盖<video>标签
  .masklayer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .cont {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 200;
    transform: translate(-50%, -50%);
    width: pr(580px);
    // height: pr(890px);
    padding: pr(277px) pr(30px) pr(47px);
    background: url(../images/popup.png);
    background-size: 100% 100%;
  }
  .close {
    position: absolute;
    top: pr(14px);
    right: pr(14px);
    width: pr(30px);
    height: pr(30px);
  }
  .sign-in {
    padding: 0 pr(24px) pr(20px);
    background-color: #ffffff;
    border-radius: pr(10px);
    border: solid 1px #151515;
    color: #151515;
  }
  .c-title{
    padding-top: pr(20px);
    line-height: pr(36px);
    font-weight: bold;
    font-size: pr(26px);
  }
  .c-select {
    display: flex;
    flex-wrap: wrap;
    padding-top: pr(20px);
    margin: 0 pr(-10px) pr(12px) 0;
    span {
      padding: 0 pr(6px);
      height: pr(52px);
      line-height: pr(52px);
      margin: 0 pr(8px) pr(16px) 0;
      font-size: pr(24px);
      border: solid 1px #151515;
      border-radius: pr(26px);
      &.on {
        background-color: #f9d565;
      }
    }
  }
  input {
    width: 100%;
    height: pr(80px);
    line-height: pr(80px);
    margin-bottom: pr(20px);
    border-radius: pr(10px);
    border: solid 1px #151515;
  }
  input[type="submit"] {
    background-color: #f9d565;
    border-radius: pr(40px);
  }
}
